.heroBGRed {
  background: #f00;
  width: 84%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 11;
  opacity: 0.5;
}

.heroBGBlack {
  background: #000;
  width: 35%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;
}
.heroBGBlack::after {
  content: 'yo';
  position: absolute;
  top: -40vw;
  /* right: -480px; */
  left: -25px;
  background: transparent;
  border: 35vw solid transparent;
  border-top: 35vw solid #000;
  height: 0px;
  width: 0px;
  transform: rotate(
  -225deg
  );
  opacity: 1;
  z-index: 999;
}

#heroFrontPage {
  width: 100vw;
  height: 63vw;
  background-color: #1b1b1b;
  overflow: hidden;
  position: relative;
  } 

  .heroBG {

    width: 150%;
    height: 100%;
    background-color: #000;
    -webkit-filter: opacity(0.6);
    /* filter: opacity(0.6); */
    background-image: url('./images/AfricanPepper/bg_lion.png');
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 5;
    bottom: 60px;
    left: 12vw;
    /* left: -48vw; */
    /* background-size: 130%; */
    opacity: 0.7;
    filter: opacity(0.5);
    background-position: -66vw -50px;
  }


.heroVideo {
  background: #111;
  padding: 20px;
  text-align: center;
  background-image: url('./images/patterns/webb-dark.png'); 
}

.heroShop {
  position: relative;
}

.heroShop img {
  width: 100%
}

.heroShopBtn a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 10%;
  z-index: 100;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
}

.heroGallery {
  text-align: center;
  background: #fff;
  background-image: url('./images/patterns/chevron.png'); 
}


.heroListen a  {
  border: 1px solid #fff;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  font-size: 22px
}

  @media only screen and (max-width: 600px) {

    .heroListen a  {
      width: 150px;
      height: 50px;
    }

    .heroBG {
      top: 30px;
      left: -90px;
    }

    .heroListen {
      position: absolute;
      left: 46%;
      top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 100;
      mix-blend-mode: lighten;
    }

    .heroVideo iframe {
      height: 220px;
      width: 100%;
    }

    /* .heroBackgroundImg {
      margin-left: auto;
    } */

  

    #heroAlbum {
        max-width: 350px;
        position: absolute;
        left: -120px;
        z-index: 100;
    }

    #heroFrontPage {
    min-height: 432px;
    background-position-y: 70px;
    background-position-x: -260px;
    }

     #heroLogo {
        /* position: absolute;
        top: 5px;
        left: 40vw; */
        max-width: 190px;
      } 

      .heroShopBtn a {
        width: 150px;
        height: 30px;
        margin-left: -70px;
      }
    
  }


  @media only screen and (min-width: 601px) {

    .heroListen {
      position: absolute;
      left: 60%;
      top: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 100;
      mix-blend-mode: lighten;
    }

    .heroVideo iframe {
      height: 550px;
      width: 100%;
      max-width: 900px;
    }
    #heroLogo {
      top: 0px;
      width: 300px;
      left: 0vw;
      mix-blend-mode: overlay;
    }
  


    .heroBackgroundImg {
      margin: auto;
    }
    #heroAlbum {
        max-width: none;
        z-index: 100;
        position: relative;
        left: 11%;
        top: 70px;
        width: 52vw;
      }

  

      .heroShopBtn a {
        width: 200px;
        height: 50px;
        margin-left: -100px;
      }
    
  }




  @media only screen and (min-width: 601px)  and (max-width: 900px) {


    .heroListen {
      left: 40%;
      top: 180px;
    }

    .heroVideo iframe {
      height: 400px;
      width: 90%;
    }

    .heroListen {
      width: 60vw;

    }

    #heroAlbum {
      max-width: 450px;
      left: 0px;

    }

    /* #heroLogo {
      top: 40px;
      position: absolute;
      width: 270px;
      right: 10%;
  } */

 

  }

  .section-title {
      font: sans-serif;
      font-weight: 100;
      color: #444;
      margin-top: 20px;
      display: block;
      padding-left: 10vw;
      text-align: left;
  }


