.gallery {
    max-width: 1100px;
    overflow: hidden;
    margin: 0px auto;
}

.gallery .img-shell {
    width: 350px;
    float: left;
    padding: 20px;
}
.gallery .img-shell img {
    width: 100%;
 
}