.about {
  background: #fff;
  padding: 20px 0;
  min-height: 600px;
  width: 80%;
  white-space: pre-line;
  margin: 0px auto;
}
.about h2 {
  font-family: arial;
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;  
  text-rendering: optimizeLegibility;
  text-align: center;
}