
@media only screen and (max-width: 600px) {
  .socialLinks {
    padding: 0px 0;
    margin: 10px 0px 0 10px;    
}
}

@media only screen and (min-width: 601px) {
  .socialLinks {
    padding: 0px 0;
    margin: 10px 50px 0 10px;    
}
}


.socialLinks a {


    padding: 0 10px;
}
.socialLinks img {
    width: 30px;
    border-radius: 30px;
    filter: grayscale(100%);
  }

  .socialLinks img:hover {
    filter: grayscale(0%);
  }