 .offersContainerShell {
    background: #000 url('./images/Naomi_JungleJuice.jpg') no-repeat;
    background-position: center center;
    height: 1180px;
    color: #fff;
    margin-top: -160px;
} 

.offersContainer {
  background: rgba(0,0,0,0.8);
  position: relative;
    top: 390px;
}

.albumShell {
  width: 320px;
  margin: 0px auto;

}
.albumShell img {
  width: 100%;
}

.podcastShell {
    background: #dcdcdc;
    padding: 40px 0;
}

.podcastCard {
    margin: 20px 0;
}
.podcastFlyer {
    filter: sepia(1) saturate(1);
}

.podcastFlyer:hover {
    animation: filter-animation 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes filter-animation {
   
    from {
        filter: sepia(1)  saturate(1);
      }
    
    to {
      filter: sepia(0)  saturate(1);
    }
  }