
.hero {
    width: 100%;
    height: auto;
     background-color: transparent ;
     overflow: hidden;
}

 .heroBackgroundImg {
     height: 100%;
 }

 @media only screen and (max-width: 600px) {
    .heroBackgroundImg {
      margin-left: 0px !important;
    }
  }

  @media only screen and (min-width: 601px) {
    .heroBackgroundImg {
      margin: auto;
    }
  }

 .heroText {
     padding-top: 200px;
     padding-left: 20px;
 }