

.musicplayer {
    position: fixed;
    bottom: 0px;
    /* left: 50%;
    width: 400px;
    margin-left: -200px; */

    width: 100%;
    /* width: 30vw; */

    padding: 0 10px;
    background: #d81313;
    padding-top:20px;
    /* border-top-right-radius:  5px;
    border-top-left-radius: 5px; */
  }

  .musicplayer.is-open {
    height: 458px;
  }

  .musicplayer.is-closed {
    height: 55px;
}
  
  .musicplayer .togglebtn {
    color: #fff;
    width: 100%;
    height: 25px;
    text-align: center;
    font: 24px monospace;
    /* text-transform: capitalize; */
    cursor: pointer;
    position: absolute;
    top: -14px;
    background: #333;
    width: 25px;
    border-radius: 30px;
    padding-top: 4px;
    left: 50%;
    margin-left: -12px;
    display: none;
  }

  .musicplayer.is-open .togglebtn {
    transform: rotate(180deg);
    line-height: 100%;

  }
  .musicplayer.is-closed .togglebtn {
    transform: rotate(0deg);
    line-height: -10%;

  }

