
.gallery-item {
    overflow: hidden;
    
}

.gallery-item img {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .gallery-item {
        width: auto;
        height: 30vw;
    }

    .gallery-item img {
        min-width: 150px;
    
    }

    .gallery-shell {
   
        margin: 20px 20px;
        display: inline-grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 40vw 40vw;
    }



  }
  
  @media only screen and (min-width: 601px) {
    .gallery-item {
        width: 250px;
        height: 200px;
        
    }

    .gallery-shell {
   
        margin: 40px 20px;
        display: inline-grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 250px 250px 250px;
    }
  }

  @media only screen and (min-width: 601px)  and (max-width: 900px) {
    .gallery-item {
        width: 175px;
        height: 150px;
        
    }

    .gallery-shell {
   
        margin: 20px 10px;
        display: inline-grid;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-template-columns: 175px 175px 175px;
    }
  
}