.document {
  background: #fff;
  padding: 20px 0;
  min-height: 600px;
}
.document h1 {
  font-family: arial;
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;  
  text-rendering: optimizeLegibility;
  text-align: center;
}