.event-content {
  margin: 20px auto;
  max-width: 1100px;
 
}
.event-box {
  display:flex;
  align-items: flex-start;
  margin: 0 0 20px 0;
 
}

.event-date {
  font-size: 14px;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

.event-day {
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
    margin: 4px 0;
}

.event-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.event-info h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.event-info h3 a {
  text-decoration: none;
}

.event-info h3 a:hover {
  text-decoration: underline;
}

.flex  {
  display: flex;
}

.space-between {
  justify-content: space-between;
}


@media only screen and (max-width: 600px) {
  .event-content {
    width: 90vw;
  }
  .event-info {
    width: 80vw;
    font-size: 12px;
  }
  .event-info h3 {
    font-size: 22px;
  }

  .event-year {
    font-size: 10px;
  }

}


@media only screen and (min-width: 601px) {
  .event-content {
    width: 60vw;
  }
  .event-info {
    width: 55vw;
  }
  .event-info h3 {
    font-size: 32px;
  }

  .event-year {
    font-size: 12px;
  }
}